.form{
    width: 25vw; /*Ne prend que 40% du body*/
    height: auto;
    background: rgb(180, 68, 86);
    /*inset: 70%; /*sert à positionner**/
    margin: 30px auto; /*pour les 4 valeurs:0 poour top/bottom*/
    border: 2px solid black;
    margin-bottom: 100px;
}


.form-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 30px 20px;
}
.form-row label{
    font-size: 1.5rem;
}

.form-button button{
    width: 100%;
    font-size: 1.5rem;
    padding: 1rem;
    background: rgb(96, 96, 52);
}
.form-button button:hover{
    background: rgb(93, 123, 93);
    font-family: 'Roboto', sans-serif;
    color: #fff;
    cursor: pointer;
    outline: none;
    border: none;
    box-shadow: 0 6px rgb(52, 73, 20);
    border-radius: 50px;
}
    .form-button:active{
        box-shadow: 0 0#efa424;
        top: 10px
    }

